*, *::before, *::after {
	box-sizing:inherit;
}

body{
	margin:0;
	font-family: 'Roboto Slab', serif;
}

.masthead{
	background-color: #efe6cd;
	color: purple;
	list-style-type: none;

}

.logo{
	float:left;
	width:10%;
}

.title{
	font-size: 1.3 rem;
	text-align: center;
	font-family:'Overlock', cursive;
}

.masthead nav{
	margin:0;
	list-style-type: none;
	color:purple;
}


.seven-wonders dt{
	font-family: 'Roboto Slab', serif;
}