*, *::before, *::after {
	box-sizing:inherit;
}

body{
	margin:0;
	font-family: sans-serif;
}

.masthead{
	background-color: #efe6cd;
	color: purple;

}

.logo{
	float:left;
	width:10%;
}

.title{
	font-size: 1.3 rem;
	text-align: center;
	font-family:'Overlock', cursive;
}

