@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale:1;}

html{
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}


*, *::before, *::after {
	box-sizing:inherit;
}

body{
	margin:0;
	font-family: 'Roboto Slab', serif;
}

header {
	background-color: #efe6cd;
	color: purple;
}

.logo{
	float:left;
	width:70px;
	padding-top:1rem;
	padding-left: 1rem;
	padding-bottom: 0.5rem;

}

.title{
	font-size: 1em;
	text-align: center;
	font-family:'Overlock', cursive;
	margin:0;
	padding-bottom: 0.5rem;
}

nav{
	background-color: #ced1f1;
	text-decoration: none;
}


nav a{
	list-style-type: none;
	text-decoration: none;
	display: inline-block;
	font-size: 0.7em;
	text-align: center;
	width: 20%;
	padding:0.5rem;
	color: black;
}

a:hover{
	color:purple;
}

.banner{
	background-image: url(../images/banner.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	width:100%;

}

.banner h2{
	position: absolute;
	top:9rem;
	font-size: 1em;
	color: #fff;
	font-family:'Overlock', cursive;
	font-weight: 400;
	text-align: center;
	padding: 1rem;

}

figcaption{
	position: absolute;
	top:12rem;
	font-size: 0.7em;
	color: #fff;
	padding-bottom: 1rem;
	padding-left: 1rem

}

main{
	margin: 0;
}

.seven{
	background-color: #efe6cd;
	margin: 0;
}

.seven h2{
	margin:0;
	padding: 1rem;
}

.giza{
	width:100%;
	padding: 0.5rem;
}

.babylon{
	width: 100%;
	padding: 0.5rem;
}

.artemis{
	width: 100%;
	padding: 0.5rem;
}

.zeus{
	width: 100%;
	padding: 0.5rem;
}

.mausoleum{
	width: 100%;
	padding: 0.5rem;
}

.rhodes{
	width: 100%;
	padding: 0.5rem;
}

.alexandria{
	width: 100%;
	padding: 0.5rem;
}


.learn a{
	padding-left: 4.5rem;
	padding-bottom: 2rem;
	text-decoration:none;
	font-size: 0.7em;
	display: inline-block;
}

.learn h3{
	padding-bottom: 1rem;
}

dt{
	font-size: 0.8em;
	display: inline;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

dd{
	font-size: 0.8em;
	display: inline;
	margin: 0;
	padding-left: 0.5rem;
	
}

.buy{
	background-color: #ced1f1;
}

.buy-tickets h2{
	padding: 1rem;
}

strong{
	padding: 1rem;
}

p{
	padding: 1rem;
	margin: 0;

}

.museum{
	background-color: #efe6cd;
}

.museum ul{
	background-color: #efe6cd;
}

ul{
	background-color: #ced1f1;
}

.this-week{
	padding:1rem;
	margin: 0;
	background-color: #efe6cd
}

.atlantis-text{
	position: relative;
	top:500%;
	background-color: #ced1f1;
}

.atlantis-text h3{
	background-color: #ced1f1;
	padding-top: 1rem;
	padding-bottom: 0;
}

.playing img{
	width: 100%
}

.now{
	background-color: #efe6cd;
}

h2{
	padding-left: 1rem;
	padding-top: 1rem;
	margin: 0;

}

h3{
	padding: 1rem;
	margin: 0;
	background-color: #efe6cd;
}

li{
	font-size: 0.8em;
}

ul{
	
	list-style-type: none;
	margin: 0;
	padding-left: 1rem;
}

.button a{
	display: inline-block;
	padding: 1rem;
	width: 100%;
	text-align: center;
	font-size: 0.8em;
}

.price {
	width: 40%;
	text-align: center;
	font-size: 0.8em;
	padding: 0.5rem;
}

footer{
	padding:0;
}

footer aside{
	background-color: #efe6cd;
	padding: 1rem;
	font-size: 0.7em;
}

.contact-us{
	background-color: #efe6cd;
	padding: 1rem;
}

.contact-us a{
	text-decoration: none;
	color: purple;
	display: block;
}



footer p{
	background-color: #efe6cd;
	margin: 0;
	padding: 1rem;
}
footer ul{
	display:inline;
	text-align: center;
	width: 100%;
}
footer nav ul li{
	list-style-type:none;
} 

footer nav a{
	font-size: 1em;
}